= form_for @quiz do |f|
  - if @quiz.errors.any?
    = render 'layouts/error_form', resource: @quiz
  .form-group
    = f.label :title, 'タイトル'
    %br
    = f.text_field :title, class: 'form-control'
  .form-group  
    = f.label :body, '本文'
    %br
    = f.text_area :body, class: 'form-control'
  .form-group
    = f.label :explanation, '解説'
    %br
    = f.text_area :explanation, class: 'form-control'
  .form-group.choices_area
    = render 'choice_form', form_object: f
  = f.submit '投稿する', class: 'btn btn-primary'
