#quiz-index
  .container
    = image_tag('top.png', style: 'max-width: 100%')
    .row
      - @quizzes.each do |quiz|
        .col-lg-4.card-space
          .card
            .card-header
              %div.quiz-title
                = quiz.title.truncate(13, omission: '…')
              %div.right
                %i.fas.fa-thumbs-up.text-info
                %span.text-secondary
                  = quiz.like.present? ? quiz.like.like_count : 0
            = image_tag(image_quiz_path(quiz), class: 'card-img-top', style: 'max-width: 100%')
            .card-body.center
              = link_to quiz_path(quiz), class: 'card-link' do
                %i.fas.fa-comment
                回答する
