%h1 Quiz一覧
= link_to '新規', new_quiz_path
%table{border: '1'}
  %thead
    %tr
      %th タイトル
      %th 本文
      %th アクション
  %tbody
    - @quizzes.each do |quiz|
      %tr
        %td= quiz.title
        %td= quiz.body
        %td
          = link_to '編集', edit_quiz_path(quiz)
          = link_to '削除', quiz_path(quiz), method: :delete
